.assessment-card{
    background:white;
    border-radius:15px;
    padding:22px;
    box-shadow:0 6px 18px rgba(0,0,0,0.08);
    transition:0.25s;
}

.assessment-card:hover{
    transform:translateY(-5px);
    box-shadow:0 10px 22px rgba(0,0,0,0.15);
}

.assessment-header{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    margin-bottom:20px;
}

.assessment-header h2{
    margin:0;
    color:#1E293B;
}

.assessment-header p{
    margin-top:5px;
    color:#64748B;
}

.status-badge{
    color:white;
    padding:8px 15px;
    border-radius:20px;
    font-size:14px;
    font-weight:600;
}

.assessment-details{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
    margin-bottom:25px;
}

.assessment-details strong{
    color:#334155;
}

.assessment-details div{
    color:#64748B;
}

.assessment-footer{
    display:flex;
    justify-content:flex-end;
}